/* @media(max-width: px) */
@media(max-width: 1050px) {
    .faq-section {
        padding: 60px 0 0 0 !important;
    }

    .accordion-body {
        padding: 22px 0 45px 25px;
        width: 555px !important;
    }

    .faq-img img {
        width: 300px;
    }

    .faq-ques img {
        width: 135px;
        left: 190px !important;
        top: 22px !important;
    }

    .growing-section {
        padding-bottom: 60px !important;
    }
}

@media(max-width: 991px) {
    .navbar-collapse {
        padding: 20px 0;
        border-top: 1px solid #F6A51B;
        border-bottom: 1px solid #F6A51B;
    }

    #nav-btn {
        margin-top: 15px;
        display: inline-block;
    }

    .hero-section {
        padding: 60px 0 !important;
    }

    .hero-title {
        font-weight: 600;
        max-width: 420px !important;
        font-size: 55px;
    }

    .faq-img img,
    .faq-ques img {
        display: none;
    }

    .seccess-section .row {
        flex-direction: column-reverse;
    }

    .s-block {
        margin-bottom: 30px;
    }

    .success-left-content .s-desc {
        padding: 30px 0 30px 0 !important;
    }

    .learn-total-content {
        padding: 0 15px;
    }

}

@media(max-width: 767px) {
    .hero-left-content {
        margin-bottom: 60px;
    }

    .hero-bg {
        max-width: 430px;
    }

    .sk-title {
        margin-bottom: 40px !important;
        font-size: 45px !important;
        max-width: 450px !important;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }

    .sk-desc {
        max-width: 585px !important;
        margin: 0 auto;
        font-size: 16px;
    }

    .skill-section {
        padding: 60px 0 !important;
    }

    .sk-left {
        margin-bottom: 50px;
    }

    .con-title {
        font-size: 45px;
    }

    .gbox-content {
        text-align: center;
        margin: 0 auto;
    }

    .gbox-content {
        padding: 25px 45px !important;
    }

    .left-title {
        font-size: 45px;
    }

    .seccess-section {
        padding: 60PX 0 !important;
    }
}

@media(max-width: 580px) {
    .accordion-body {
        width: 100% !important;
    }
}

@media(max-width: 575px) {
    .play1 {
        top: 160px !important;
        left: 225px !important;
    }
}


@media(max-width: 475px) {
    .hero-title {
        font-weight: 600;
        max-width: 345px !important;
        font-size: 45px !important;
    }

    .hero-desc {
        padding: 20px 0 30px 0 !important;
    }

    .sk-left {
        margin-bottom: 30px !important;
    }

    .sk-left-desc {
        text-align: justify !important;
    }

    .sk-left-title {
        text-align: center;
    }

    .sk-left-desc {
        text-align: center !important;
    }

    .play1 {
        top: 123px !important;
        left: 160px !important;
    }

    .plays {
        width: 85px;
    }

    .play {
        width: 60px !important;
        top: 55px !important;
        left: 68px !important;
    }

    .success-left-content .s-title {
        font-weight: 600;
        font-size: 45px;
    }

    .seccess-section {
        padding: 50PX 0 !important;
    }

    .s-block {
        gap: 20px !important;
    }

    .s-block {
        margin-bottom: 20px;
    }

    .learn-title {
        margin-bottom: 25px !important;
        font-size: 40px !important;
    }

    .learning-from .btn {
        padding: 0;
        margin: 0;
    }
}

@media(max-width: 375px) {
    .hero-section {
        padding: 30px 0 0px 0 !important;
    }

    .hero-title {
        font-size: 30px !important;
    }

    .hero-desc {
        padding: 20px 0 25px 0 !important;
        text-align: justify;
    }

    .hero-btns .fill {
        padding: 10px 15px !important;
    }

    .hero-btns .icon-btn {
        padding: 10px 15px !important;
    }

    .sk-title {
        margin-bottom: 40px !important;
        font-size: 31px !important;
        max-width: 450px !important;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }

    .sk-title {
        margin-bottom: 40px !important;
        font-size: 31px !important;
        max-width: 450px !important;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }

    .sk-desc {
        text-align: justify;

    }

    .sk-left-title {
        font-size: 30px;
    }

    .sk-left-desc {
        max-width: 485px;
        margin: 12px 0 30px 0 !important;
        text-align: justify !important;
    }

    .sk-para p {
        font-size: 16px !important;
    }

    .con-title {
        font-size: 30px !important;
    }

    .sk-top-content {
        padding-bottom: 25px !important;
    }

    .left-title {
        font-size: 30px;
    }

    .accordion-button {
        padding: 15px 15px !important;
        font-size: 16px !important;
    }

    .growing-section {
        padding-bottom: 45px !important;
    }

    .right-content {
        margin-bottom: 35px !important;
    }

    .accordion-item {
        margin-bottom: 12px !important;
    }

    .play {
        width: 60px !important;
        top: 33px !important;
        left: 49px !important;
    }

    .play1 {
        top: 95px !important;
        left: 140px !important;
    }

    .success-left-content .s-title {
        font-weight: 600;
        max-width: 310px;
        font-size: 30px;
    }

    .success-left-content .s-desc {
        font-size: 16px !important;
        text-align: justify;
        padding: 30px 0 20px 0 !important;
    }

    .learn-title {
        margin-bottom: 25px !important;
        font-size: 30px !important;
    }

    #margin {
        margin-bottom: 0 !important;
    }

    .glbtn { 
        padding: 8px 15px !important; 
    }
}


/* @media(max-width: px) */