/*? AUTHOR DETAILS
*AUTHOR NAME: ANIK ISLAM
*TEMPLATE:  CREATIVE SKILLS
*VERSION: 1.0.0
*/


/*! ROOT VARIABLES  */
:root {
    --white-color: #fff;
    --black-color: #000;
    --global-fons: "Poppins", sans-serif;
    --menu-item-hover-color: #F6A51B;
    --menu-color: #9D9D9D;
    --bg-color: #F9F3E9;
    --gb-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    --gb-text-color: #414141;
}

/*? ESSENTIAL SET UP  */
body {
    font-family: var(--global-fons);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ESSENTIAL SET UP  */

/* ?SET UP FONTS  */
h1 {
    font-size: 70px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.disabled {
    display: none;
}


/* ?SET UP FONTS */


/*HEADER SECTION START  */
.header-section {
    background-color: var(--bg-color);
}

.navbar .container {
    /* position: fixed; */
    /* top: 0; */
    background-color: var(--bg-color);
    z-index: 999;
    padding: 0;
}


.nav-item .nav-link {
    padding: 0 25px !important;
    transition: all linear 0.2s;
    font-size: 24px;
    color: var(--menu-color) !important
}

.nav-item .nav-link:hover {
    color: var(--menu-item-hover-color) !important;
}

.glbtn {
    background-color: var(--menu-item-hover-color);
    padding: 12px 20px;
    border-radius: 10px;
    color: var(--white-color);
    border: 1px solid var(--menu-item-hover-color);
    transition: all linear 0.2s;
    font-size: 18px;
}

.glbtn:hover {
    background-color: transparent;
    color: var(--menu-item-hover-color);
}

.nav-item .nav-link.active {
    color: var(--menu-item-hover-color);

}


.navbar-toggler:focus {
    box-shadow: none;
}

/*HEADER SECTION EMD */


/*HERO SECTION START  */
.hero-section {
    padding: 100px 0 0px 0;
    background-color: var(--bg-color);
}

.hero-title {
    font-weight: 600;
    max-width: 485px;
}

.hero-desc {
    font-size: 18px;
    padding: 30px 0 50px 0;
    max-width: 475px;
}

.hero-btns {
    display: flex;
    gap: 15px;
}

.hero-btns a {
    font-size: 18px;
    font-weight: 500;
    color: var(--menu-item-hover-color);
    border: none !important;
}

.hero-btns .fill {
    background-color: var(--menu-item-hover-color);
    color: var(--white-color);
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid var(--menu-item-hover-color) !important;
    transition: all linear 0.23s;
}

.hero-btns .fill:hover {
    background-color: transparent;
    color: var(--menu-item-hover-color);
}

.hero-btns .icon-btn {
    border-radius: 10px;
    border: 1px solid var(--menu-item-hover-color) !important;
    background-color: transparent;
    color: var(--menu-item-hover-color) !important;
    padding: 15px 30px;
    display: flex;
    gap: 10px;
}

/*HERO SECTION EMD */


/*SKILL SECTION START  */
.skill-section {
    padding: 100px 0;
}

.sk-top-content {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.sk-title {
    font-weight: 700;
    margin-bottom: 40px;
}

.sk-title span {
    color: var(--menu-item-hover-color);
}

.sk-desc {
    font-size: 18px;
    max-width: 1045px;
    margin: 0 auto;
}

.sk-left-title {
    font-weight: 500;
}

.sk-left-desc {
    font-size: 16px;
    max-width: 485px;
    margin: 20px 0 30px 0;
}

.sk-content {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

.sk-para p {
    font-size: 18px;
    max-width: 514px;
    color: var(--menu-color);
}

.sk-content .sk-para p {
    margin: 0;
    padding: 0;
}

#item {
    align-self: flex-end;
}

/*SKILL SECTION EMD */


/*CONCERN SECTION START  */
.concern-section {
    padding: 0 0 100px 0;
}

.con-bar {
    width: 148px;
    height: 10px;
    background-color: var(--menu-item-hover-color);
    border-radius: 15px;
    margin-top: 10px;
}

/*CONCERN SECTION EMD */


/*GROWING SECTION START  */
.growing-section {
    padding-bottom: 100px;
}

.grow-top {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 50px;
}

.gbox-content {
    max-width: 308px;
    box-shadow: var(--gb-shadow);
    text-align: center;
    padding: 35px 75px;
    border-radius: 15px;
}

.gb-title {
    color: var(--menu-item-hover-color);
    font-weight: 600;
    margin-bottom: 8px;
}

.gb-text {
    font-size: 16px;
    color: var(--gb-text-color);
}

.gbox-content {
    margin-bottom: 30px;
}

/*GROWING SECTION EMD */

/*FAQ's SECTION START  */
.faq-section {
    padding: 150px 0 0 0;
    background-color: var(--bg-color);
}


.faq-content {
    position: relative;
}

.right-content {
    margin-bottom: 50px;
}

.faq-ques img {
    position: absolute;
    left: 246px;
    top: -40px;
}

.faq-left-content {
    margin-bottom: 50px;
}

.accordion-item {
    margin-bottom: 30px;
    border: none;
}

.accordion-button {
    padding: 25px 25px;
    color: var(--menu-color);
    font-size: 18px;
}

.accordion-button .collapsed {
    color: var(--menu-item-hover-color);
}

.accordion-body {
    padding: 22px 25px 45px 25px;
    width: 631px;
}

/*FAQ's SECTION EMD */

/*SUCCESS SECTION START  */
.seccess-section {
    padding: 100PX 0;
}

.success-video {
    position: relative;
}

.play1 {
    position: absolute;
    top: 211px;
    left: 289px;
    cursor: pointer;
}

.plays {
    cursor: pointer;
    transition: all linear 0.2s;
    border-radius: 50%;
}

.plays:hover {
    transform: scale(1.2);
    background-color: var(--menu-item-hover-color);
}

.success-left-content .s-title {
    font-weight: 600;
}

.success-left-content .s-desc {
    font-size: 18px;
    max-width: 470px;
    padding: 32px 0 50px 0;
    font-weight: 400;
    color: var(--menu-color);
}

.s-block {
    display: flex;
    align-items: center;
    gap: 30px;
}

.video1 {
    position: relative;
}

.play {
    position: absolute;
    width: 70px;
    top: 75px;
    left: 90px;
    cursor: pointer;
    transition: all linear 0.2s;
    border-radius: 50%;
}

.play:hover {
    transform: scale(1.2);
    background-color: var(--menu-item-hover-color);
}

/*SUCCESS SECTION EMD */

/*LEARNING SECTION START  */
.learning-section{
    padding: 0 15px;
}
.learning-section .container {
    background-color: var(--bg-color);
    padding: 55px 0;
    border-radius: 20px;
}

.learning-section .row {
    gap: 50px;
}

.learn-title {
    font-weight: 600;
    margin-bottom: 50px;
}

#btn {
    display: flex;
    justify-self: flex-end;
}

input:last-child {
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 15px 0 5px 0;
    display: flex;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--gb-text-color);
    background: transparent;
}

#margin {
    margin-bottom: 25px;
}

::placeholder {
    font-size: 20px;
    font-weight: 300;
}

/*LEARNING SECTION EMD */

/*FOOTER SECTION START  */
.footer-section {
    padding: 120px 0 20px 0;
}

.footer-section .row {
    border-top: 1px solid var(--menu-color);
    padding: 50px 0 0 0;
}

.footer-title {
    font-weight: 600;
    color: var(--black-color);
}

.color {
    color: var(--menu-item-hover-color);
}

.footer-dsc {
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0 30px 0;
}

.footer-left-content {
    text-align: right;

}

.location-details p {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 35px 0;
}

.icons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.face a i {
    background-color: var(--menu-item-hover-color);
    width: 60px;
    height: 60px;
    color: var(--white-color);
    line-height: 60px;
    border-radius: 10px;
    font-size: 22px;
    border: 1px solid var(--menu-item-hover-color);
    transition: all linear 0.2s;
}

.face a i:hover {
    background-color: transparent;
    color: var(--menu-item-hover-color);
}

/*FOOTER SECTION EMD */

/* DJKFKJJ */